html {
    position: relative;
    min-height: 100%;
  }

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    background-color:#010530;
    color: #00ffff;
}

h1, h4 {
    font-family: 'Special Elite', cursive;
    color: #ff00ff;
    text-align: center;
}

h4 {
    padding-bottom: 5%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer */
    height: 60px;
    background-color: #2421ef;
    text-align: center;
    margin-top: 5%;
  }
